# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
results/
app/static/detections/
*.pt
*.pth
*.onnx

# Logs
*.log

# Imagens e relatorios

Detectoy/relatorios/*
Detectoy/images/*
Detectoy/results/*
