.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D0D6E2;
    height: 100vh;
    /* Centraliza o conteúdo na tela */
}

.Padding {
    width: 90vw;
    /* Largura do retângulo será 60% da largura da janela */
    height: 80vh;
    /* Altura do retângulo será 30% da altura da janela */
    background-color: #0E123F;
    border: 2px solid;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px #00000029;
    position: relative;
}

.Padding2 {
    width: 80%;
    max-width: 1370px;
    height: 85%;
    background-color: white;
    color: #0E123F;
    border: 2px solid;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    box-shadow: 0px 3px 6px #00000029;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%); /* Adjust as needed */
    font-size: 34px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .Padding2 {
        transform: translate(-55%, -50%); /* Adjust offset for smaller screens */
    }
}