# Virtual Environment
venv/
env/
.env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Imagens e relatorios
Detectoy/relatorios/*
Detectoy/images/*
Detectoy/results/*

# Project specific
results/
app/static/detections/
*.pt
*.pth
*.onnx